{% extends 'all/base.html' %}
    <div class="container-fluid">
        <footer class="text-center">
            <div style='background-color: black; position:static; bottom:0%; width:100%; height:08vh' id="footer">
                <p style='color:white; font-size: 20px; text-transform:capitalize;'>
                    <a href="https://web.facebook.com/Erass N stars" style="padding-left: 10em"><i
                            class="fab fa-facebook-square" style="color: light-blue;"></i></a>
                    <a href="https://github.com/erastus-1" style="padding-left: 02em"><i class="fab fa-github"
                            style="color: light-blue;"></i></a>
                    <a href="https://www.linkedin.com/feed/erastus kariuki" style="padding-left: 02em"><i
                            class="fab fa-linkedin" style="color: light-blue;"></i></a>
                    </br>
                    <strong>All content Copyright &copy 2021 Photo-Appy </strond>
                </p>
            </div>
        </footer>
    </div>