{% load bootstrap3 %} {% load static%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Dancing+Script=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href='https://fonts.googleapis.com/css?family=Carter+One&display' rel="stylesheet">

  {% if title %}
  <title>Photo Appy - {{title}}</title>
  {% else %}
    <title> Photo Appy </title>
  {% endif %}

  {% block styles %}

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">

  {% endblock %}

</head>
<body>

    {% block content %} {%endblock%}

<footer class="bg-dark" style="margin-top: 30px;">
    <div class="text-center text-white" style="text-align: center; padding-top: 10px;">
      <div class="footer">
        <a href="https://web.facebook.com/Erass N stars" style="padding-left: 10em"><i class="fab fa-facebook-square" style="color: light-blue;"></i></a>
        <a href="https://github.com/erastus-1" style="padding-left: 02em"><i class="fab fa-github" style="color: light-blue;"></i></a>
        <a href="https://www.linkedin.com/feed/erastus kariuki" style="padding-left: 02em"><i class="fab fa-linkedin" style="color: light-blue;"></i></a>
    </br>
        <p>All content Copyright &copy 2021 Photo-Appy </p>
      </div>
    </div>
  </footer>
  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'js/scripts.js' %}">
{% bootstrap_javascript %}
{% endblock %}
</body>
</html>