{%extends 'all/base.html'%}

{% block content %} {{block.super}}

<div class="row container-fluid content">
  <!-- Looping through images   -->
  {% for image in images %}
  <!-- displaying images -->
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 thumbnails"
  style="padding-left: 20px; margin-bottom: 15vh; height: 40vh;">
    <div class='card'>
      <div class="card-body">
        <img src="{{image.image_url.url}}" class="img-responsive" alt="Image" style="width: 40vw; height: 40vh;">
        <br>
        <a href="#" class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#{{image.id}}">check
          details</a>
      </div>
    </div>
  </div>

  <!-- modal -->
  <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body" style="color: blue;">
          <h3 class="modal-title text-center" id="title" style="font-family: 'Fugaz One', cursive; font-size: 35px;">{{image.title}}</h3>
          <a href="#"><img src="{{image.image_url.url}}" alt="" style="width: 100%;"></a>
          <p class="text-center" style="font-family: 'Fugaz One', cursive;  font-size: 20px;">{{image.title}}</p>
          <p style="font-family: 'Fugaz One', cursive; font-size: 20px;"> ABOUT THE IMAGE : {{image.description}}</p>
          <p style="font-family: 'Fugaz One', cursive; font-size: 20px;">LOCATION TAKEN : {{image.location}}</p>
          <p style="font-family: 'Fugaz One', cursive; font-size: 20px;">POSTED ON :{{image.date_uploaded}}</p>
        </div>
        <div class="modal-footer">
          <input class="form-control input-md responsive" type="text" value="{{image.image_url.url}}"
            id="{{image.id}}.url" />
          <br>
          <button type="button" class="btn btn-success " onclick="copy('{{image.image_url.url}}')">Copy
            Link</button>
          <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}